# Copyright (c) 2026 vikiea <vikiea@users.noreply.github.com>
# This code is released under the MIT License.
# See LICENSE for details.

.build/
.swiftpm/
dist/
Engine/age-engine
.DS_Store
*.tmp
*.age
*.tar
*.tar.gz
private/
docs/releases/
